server:
  port: 8085

spring:
  datasource:
    url: jdbc:postgresql://dpg-d4nbbtruibrs7399fdv0-a.singapore-postgres.render.com:5432/iot_database_sens
    username: chaitanaya
    password: sbwnEeyxzntiSXkcNdPJ58OBoOxlzVVJ
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000
      connection-timeout: 20000
      max-lifetime: 120000
      pool-name: IOT-HikariPool

  jpa:
    hibernate:
      ddl-auto: update   # change to validate in production
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true

  jackson:
    serialization:
      write-dates-as-timestamps: false

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE

management:
  endpoints:
    web:
      exposure:
        include: "*"
